services:
  scheduler_db:
    image: postgres:latest
    ports:
      - "0001:5432"
    environment:
      POSTGRES_DB: schedulers
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - scheduler_data:/var/lib/scheduler/data
  task_db:
    image: postgres:latest
    ports:
      - "0002:5432"
    environment:
      POSTGRES_DB: tasks
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - task_data:/var/lib/task/data
  worker_db:
    image: postgres:latest
    ports:
      - "0003:5432"
    environment:
      POSTGRES_DB: workers
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - worker_data:/var/lib/worker/data
volumes:
  task_data:
  scheduler_data:
  worker_data:
